<!DOCTYPE html>
<html lang="en">

<head>
    <script src = "https://d3js.org/d3.v4.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMD2WEB</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".csv" mimeType="application/csv" />
    </staticContent>
  </system.webServer>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                   <!-- <img src="../img/cuboulder-large.png"> -->
                </div>
                <div class="sidebar-brand-text mx-3">CMD2WEB</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Services
            </div>


            <!-- Nav Item - Fortran Parse -->
            <li class="nav-item active">
                <a class="nav-link" href="parse.html">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Fortran Parse</span></a>
            </li>

        </ul>

        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" 
                        action= "{{ url_for("index")}}" method="post" label = "sequence">
                        <div class="input-group">
                            <input type="text" id="sequence" name = sequence class="form-control bg-light border-0 small" placeholder="Input Sequence..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" label = "sequence" methond = "post">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>

                            </div>

                        </div>
                    <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            Export
                          </label>
                        </div>
                    </form>
                    <form action = "http://127.0.0.1:8080/parse" method = "POST" 
                        enctype = "multipart/form-data">
                        <input type = "file" name = "file" />
                        <input type = "submit"/>
                    </form> 

                </nav>
                <!-- End of Topbar -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Fortran Parse</h1>
                </div>      
                <!-- Begin Page Content -->
                <div class="container-fluid" id="container-fluid1">

                    <!-- Page Heading -->

                    <div class="row">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Accordion -->
                            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                                <h6 class="m-0 font-weight-bold text-primary" id = "sample_name1" >Result Query Sequence</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse hide" id="collapseCardExample">
                                <a href="#sequenceCollapse" class="d-block card-header py-2" data-toggle="collapse"
                                    role="button" aria-expanded="true" aria-controls="sequenceCollapse">
                                        <h6 class="m-0 font-weight-bold text-primary">Sequence</h6>
                                </a>
                                <div class="collapse hide" id="sequenceCollapse">
                                    <div class="card-body" id="resultSequence"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col mr-2" id=small_plot1>
                            <div id='residue_plot_small1'></div>
                        </div>
                    </div>

                    <div class="collapse hide" id="collapseCardExample">
                        <div class="row">

                            <!-- Sequence Length -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" >
                                                    Sequence Length</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"id='sequence_length1'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Whole Sequence nu_model -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" >
                                                    Whole Sequence nu_model</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" id='nu_model1'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
     
                            <!-- Whole sequence B-turn prop -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" >
                                                    Whole sequence β-turn prop</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" id='b_turn1'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Whole sequence r_model -->
                            <div class="col-xl-3 col-md-6 mb-4">
                                <div class="card border-left-success shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Whole sequence r_model</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800"id='r_model1'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class = "row">
                            <!-- Number of blue domains -->
                            <div class="col-xl-4 col-md-6 mb-4">
                                <div class="card border-left-primary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" >
                                                    Number of PS (blue) domains</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" id='blue1' ></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Number of red domains -->
                            <div class="col-xl-4 col-md-6 mb-4">
                                <div class="card border-left-danger shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                    Number of ID (red) domains</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" id='red1'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Number of black domains -->
                            <div class="col-xl-4 col-md-6 mb-4">
                                <div class="card border-left-secondary shadow h-100 py-2">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" >
                                                    Number of F (black) domains</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800" id='black1' ></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- DataTable -->
                        <div class="card shadow mb-4">
                            <a href="#dataTableCollapse" class="d-block card-header py-3" data-toggle="collapse"
                                role="button" aria-expanded="true" aria-controls="dataTableCollapse"> 
                                <h6 class="m-0 font-weight-bold text-primary">DataTable</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="collapse hide" id="dataTableCollapse">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Domain Type</th>
                                                <th>Domain No.</th>
                                                <th>First Residue</th>
                                                <th>Last Residue</th>
                                                <th>Length</th>
                                            </tr>
                                        </thead>
                                         <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Plot</h6>
                            </div>
                                    <div id='residue_plot1' ></div>
                        </div>
                    </div>        
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

        <!-- End of Content Wrapper -->

            <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>CU Boulder &copy; CMD2WEB</span>
                </div>
            </div>
        </footer>
            <!-- End of Footer -->
    </div>
</div>
 <!-- End of Page Wrapper -->

<script>
    var elem = document.querySelector('#container-fluid1');
    var clone = elem.cloneNode(true);
    clone.id = 'container-fluid2';
    clone.classList.add('container-fluid');
    elem.after(clone);

    var elms = document.querySelectorAll("[id='sample_name1']");
    var secondElement = elms[1];
    secondElement.setAttribute('id', 'sample_name2');

    var elms = document.querySelectorAll("[id='sequence_length1']");
    var secondElement = elms[1];
    secondElement.setAttribute('id', 'sequence_length2');

    var elms = document.querySelectorAll("[id='nu_model1']");
    var secondElement = elms[1];
    secondElement.setAttribute('id', 'nu_model2');

    var elms = document.querySelectorAll("[id='b_turn1']");
    var secondElement = elms[1];
    secondElement.setAttribute('id', 'b_turn2');

    var elms = document.querySelectorAll("[id='r_model1']");
    var secondElement = elms[1];
    secondElement.setAttribute('id', 'r_model2');

    var elms = document.querySelectorAll("[id='blue1']");
    var secondElement = elms[1];
    secondElement.setAttribute('id', 'blue2');

    var elms = document.querySelectorAll("[id='red1']");
    var secondElement = elms[1];
    secondElement.setAttribute('id', 'red2');

    var elms = document.querySelectorAll("[id='black1']");
    var secondElement = elms[1];
    secondElement.setAttribute('id', 'black2');

    var elms = document.querySelectorAll("[id='dataTable1']");
    var secondElement = elms[1];
    secondElement.setAttribute('id', 'dataTable2');

    var elms = document.querySelectorAll("[id='residue_plot1']");
    var secondElement = elms[1];
    secondElement.setAttribute('id', 'residue_plot2');

    var elms = document.querySelectorAll("[id='residue_plot_small1']");
    var secondElement = elms[1];
    secondElement.setAttribute('id', 'residue_plot_small2');


</script>

<script>
const jsonfile = JSON.parse({{jsonfile|tojson}});
console.log(jsonfile);
for (var i = 0; i < jsonfile.length; i++){
    j = i+1
    entry = jsonfile[i];
    document.getElementById("sample_name"+j).innerHTML = entry['sample_name'];
    document.getElementById("resultSequence").innerHTML = entry['result'];
    document.getElementById("sequence_length"+j).innerHTML = entry['sequence_length'];
    document.getElementById("nu_model"+j).innerHTML = entry['nu_model'];
    document.getElementById("b_turn"+j).innerHTML = entry['b_turn'];
    document.getElementById("r_model"+j).innerHTML = entry['r_model'];
    document.getElementById("blue"+j).innerHTML = entry['blue'];
    document.getElementById("red"+j).innerHTML = entry['red'];
    document.getElementById("black"+j).innerHTML = entry['black'];
    
    var table_data = entry['table']
    var table = document.getElementById("dataTable"+j)
    console.log(table_data.length)
    console.log(table)
    
    for (var x = 0; x < table_data.length; x++){
        var row = table.insertRow(x+1)
        for(var y = 0; y < 5; y++){
            var cell1 = row.insertCell(y);
            cell1.innerHTML = table_data[x][y]
        }
    }
    
    

}

//document.getElementById("resultSequence").innerHTML = jsonfile['result'];
//document.getElementById("sequence_length2").innerHTML = jsonfile['sequence_length'];
//document.getElementById("nu_model2").innerHTML = jsonfile['nu_model'];
//document.getElementById("b_turn2").innerHTML = jsonfile['b_turn'];
//document.getElementById("r_model2").innerHTML = jsonfile['r_model'];
//document.getElementById("blue2").innerHTML = jsonfile['blue'];
//document.getElementById("red2").innerHTML = jsonfile['red'];
//document.getElementById("black2").innerHTML = jsonfile['black'];


//var table_data = jsonfile['table']
//var table = document.getElementById('dataTable1')
//console.log(table_data.length)
//for (var i = 0; i < table_data.length; i++){
//    var row = table.insertRow(i+1)
//    for(var j = 0; j < 5; j++){
//        var cell1 = row.insertCell(j);
//        cell1.innerHTML = table_data[i][j]
//    }
//}

</script>
<!--
<script>
    // set the dimensions and margins of the graph
    var margin = {top: 0, right: 0, bottom:250, left: 0},
        width = 1000 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var svg1 = d3.select("#residue_plot1")
          .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");


    var xScale = d3.scaleBand().range ([0, width]).padding(0.4),
        yScale = d3.scaleLinear().range ([height, 0]);

    var g = svg1.append("g")
               .attr("transform", "translate(" + 100 + "," + 100 + ")");

    // create a tooltip
  var Tooltip = d3.select("#residue_plot")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "black")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px")

  // Three function that change the tooltip when user hover / move / leave a cell
  var mouseover = function(d) {
    Tooltip
      .style("opacity", 1)
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1)
  }
  var mousemove = function(d) {
    Tooltip
      .html("x: " + d.col1 + ", y: " + d.col4 + ", z: " + d.col3)
      .style("left", (d3.mouse(this)[0]+70) + "px")
      .style("top", (d3.mouse(this)[1]) + "px")
  }
  var mouseleave = function(d) {
    Tooltip
      .style("opacity", 0)
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 0.8)
  }


 d3.csv("/js/residue_level_rmodel_new_1.csv", function(error, data) {
    if (error) {
        throw error;
    }


        xScale.domain(data.map(function(d) { return d.col1; }));
        yScale.domain([d3.min(data, function(d) { return d.col4; }), d3.max(data, function(d) { return d.col4; })]);


        g.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(xScale).tickValues(xScale.domain().filter(function(d,i){ return !(i%50)})))
         .append("text")
         //.attr("y", height/2)
         //.attr("x", width/2)
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Residue Number");
 

        g.append("g")
         .call(d3.axisLeft(yScale).tickFormat(function (d){
            return d3.format(".1f")(d);
        }))
        .append("text")
         .attr("transform", "rotate(-90)")
         .attr("y", 6)
         .attr("dy", "-5.1em")
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("r Model Value");

        g.selectAll(".bar")
         .data(data)
         .enter().append("rect")
         .attr("class", "bar")
         .attr("x", function(d) { return xScale(d.col1); })
         .attr("y", function(d) { return yScale(d.col4); })
         .attr("width", xScale.bandwidth())
         .attr("height", function(d) { return height - yScale(d.col4); })
         .attr("fill", function(d){
            JSON.stringify(d);
            if (d.col3 == ' D')
            {
                return 'blue';
            }
            else if (d.col3 == ' F')
            {
                return 'black';
            }
            else
            {
                return 'red'
            }
         })
        .on("mouseover", mouseover)
        .on("mousemove", mousemove)
        .on("mouseleave", mouseleave)


    });
         //.attr("height", function(d) { return height - yScale(d.col4); });


    //});

</script>

<script>
    // set the dimensions and margins of the graph
    var margin = {top: 0, right: 0, bottom:250, left: 0},
        width = 1000 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var svg2 = d3.select("#residue_plot2")
          .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");


    var xScale = d3.scaleBand().range ([0, width]).padding(0.4),
        yScale = d3.scaleLinear().range ([height, 0]);

    var g2 = svg2.append("g")
               .attr("transform", "translate(" + 100 + "," + 100 + ")");

    // create a tooltip
  var Tooltip = d3.select("#residue_plot2")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "black")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px")

  // Three function that change the tooltip when user hover / move / leave a cell
  var mouseover = function(d) {
    Tooltip
      .style("opacity", 1)
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1)
  }
  var mousemove = function(d) {
    Tooltip
      .html("x: " + d.col1 + ", y: " + d.col4 + ", z: " + d.col3)
      .style("left", (d3.mouse(this)[0]+70) + "px")
      .style("top", (d3.mouse(this)[1]) + "px")
  }
  var mouseleave = function(d) {
    Tooltip
      .style("opacity", 0)
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 0.8)
  }


 d3.csv("/js/residue_level_rmodel_new_2.csv", function(error, data) {
    if (error) {
        throw error;
    }


        xScale.domain(data.map(function(d) { return d.col1; }));
        yScale.domain([d3.min(data, function(d) { return d.col4; }), d3.max(data, function(d) { return d.col4; })]);


        g2.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(xScale).tickValues(xScale.domain().filter(function(d,i){ return !(i%50)})))
         .append("text")
         //.attr("y", height/2)
         //.attr("x", width/2)
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Residue Number");
 

        g2.append("g")
         .call(d3.axisLeft(yScale).tickFormat(function (d){
            return d3.format(".1f")(d);
        }))
        .append("text")
         .attr("transform", "rotate(-90)")
         .attr("y", 6)
         .attr("dy", "-5.1em")
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("r Model Value");

        g2.selectAll(".bar")
         .data(data)
         .enter().append("rect")
         .attr("class", "bar")
         .attr("x", function(d) { return xScale(d.col1); })
         .attr("y", function(d) { return yScale(d.col4); })
         .attr("width", xScale.bandwidth())
         .attr("height", function(d) { return height - yScale(d.col4); })
         .attr("fill", function(d){
            JSON.stringify(d);
            if (d.col3 == ' D')
            {
                return 'blue';
            }
            else if (d.col3 == ' F')
            {
                return 'black';
            }
            else
            {
                return 'red'
            }
         })
        .on("mouseover", mouseover)
        .on("mousemove", mousemove)
        .on("mouseleave", mouseleave)


    });
         //.attr("height", function(d) { return height - yScale(d.col4); });


    //});

</script>
-->
<script>
    // set the dimensions and margins of the graph
    var margin = {top: -100, right: 0, bottom:135, left: -100},
        width = 1200 - margin.left - margin.right,
        height = 150 - margin.top - margin.bottom;

    var svg1 = d3.select("#residue_plot_small1")
          .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");


    var xScale = d3.scaleBand().range ([0, width]).padding(0.4),
        yScale = d3.scaleLinear().range ([height, 0]);

    var g = svg1.append("g")
               .attr("transform", "translate(" + 100 + "," + 100 + ")");

    // create a tooltip
  var Tooltip = d3.select("#residue_plot_small1")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "black")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px")

  // Three function that change the tooltip when user hover / move / leave a cell
  var mouseover = function(d) {
    Tooltip
      .style("opacity", 1)
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1)
  }
  var mousemove = function(d) {
    Tooltip
      .html("x: " + d.col1 + ", y: " + d.col4 + ", z: " + d.col3)
      .style("left", (d3.mouse(this)[0]+70) + "px")
      .style("top", (d3.mouse(this)[1]) + "px")
  }
  var mouseleave = function(d) {
    Tooltip
      .style("opacity", 0)
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 0.8)
  }


 d3.csv("/js/residue_level_rmodel_new_1.csv", function(error, data) {
    if (error) {
        throw error;
    }


        xScale.domain(data.map(function(d) { return d.col1; }));
        yScale.domain([d3.min(data, function(d) { return d.col4; }), d3.max(data, function(d) { return d.col4; })]);


        g.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(xScale).tickValues(xScale.domain().filter(function(d,i){ return !(i%50)})))
         .append("text")
         //.attr("y", height/2)
         //.attr("x", width/2)
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Residue Number");
 
         /*
        g.append("g")
         .call(d3.axisLeft(yScale).tickFormat(function (d){
            return d3.format(".1f")(d);
        }))
        .append("text")
         .attr("transform", "rotate(-90)")
         .attr("y", 6)
         .attr("dy", "-5.1em")
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("r Model Value");
        */
        g.selectAll(".bar")
         .data(data)
         .enter().append("rect")
         .attr("class", "bar")
         .attr("x", function(d) { return xScale(d.col1); })
         .attr("y", function(d) { return yScale(d.col4); })
         .attr("width", xScale.bandwidth())
         .attr("height", function(d) { return height - yScale(d.col4); })
         .attr("fill", function(d){
            JSON.stringify(d);
            if (d.col3 == ' D')
            {
                return 'blue';
            }
            else if (d.col3 == ' F')
            {
                return 'black';
            }
            else
            {
                return 'red'
            }
         })
        .on("mouseover", mouseover)
        .on("mousemove", mousemove)
        .on("mouseleave", mouseleave)


    });
         //.attr("height", function(d) { return height - yScale(d.col4); });


    //});

</script>

<script>
    // set the dimensions and margins of the graph
    var margin = {top: -100, right: 0, bottom:135, left: -100},
        width = 1200 - margin.left - margin.right,
        height = 150 - margin.top - margin.bottom;

    var svg2 = d3.select("#residue_plot_small2")
          .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform",
                  "translate(" + margin.left + "," + margin.top + ")");


    var xScale = d3.scaleBand().range ([0, width]).padding(0.4),
        yScale = d3.scaleLinear().range ([height, 0]);

    var g2 = svg2.append("g")
               .attr("transform", "translate(" + 100 + "," + 100 + ")");

    // create a tooltip
  var Tooltip = d3.select("#residue_plot_small2")
    .append("div")
    .style("opacity", 0)
    .attr("class", "tooltip")
    .style("background-color", "black")
    .style("border", "solid")
    .style("border-width", "2px")
    .style("border-radius", "5px")
    .style("padding", "5px")

  // Three function that change the tooltip when user hover / move / leave a cell
  var mouseover = function(d) {
    Tooltip
      .style("opacity", 1)
    d3.select(this)
      .style("stroke", "black")
      .style("opacity", 1)
  }
  var mousemove = function(d) {
    Tooltip
      .html("x: " + d.col1 + ", y: " + d.col4 + ", z: " + d.col3)
      .style("left", (d3.mouse(this)[0]+70) + "px")
      .style("top", (d3.mouse(this)[1]) + "px")
  }
  var mouseleave = function(d) {
    Tooltip
      .style("opacity", 0)
    d3.select(this)
      .style("stroke", "none")
      .style("opacity", 0.8)
  }


 d3.csv("/js/residue_level_rmodel_new_2.csv", function(error, data) {
    if (error) {
        throw error;
    }


        xScale.domain(data.map(function(d) { return d.col1; }));
        yScale.domain([d3.min(data, function(d) { return d.col4; }), d3.max(data, function(d) { return d.col4; })]);

        
        g2.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(xScale).tickValues(xScale.domain().filter(function(d,i){ return !(i%50)})))
         .append("text")
         //.attr("y", height/2)
         //.attr("x", width/2)
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("Residue Number");
        
         /*
        g2.append("g")
         .call(d3.axisLeft(yScale).tickFormat(function (d){
            return d3.format(".1f")(d);
        }))
        .append("text")
         .attr("transform", "rotate(-90)")
         .attr("y", 6)
         .attr("dy", "-5.1em")
         .attr("text-anchor", "end")
         .attr("stroke", "black")
         .text("r Model Value");
        */

        g2.selectAll(".bar")
         .data(data)
         .enter().append("rect")
         .attr("class", "bar")
         .attr("x", function(d) { return xScale(d.col1); })
         .attr("y", function(d) { return yScale(d.col4); })
         .attr("width", xScale.bandwidth())
         .attr("height", function(d) { return height - yScale(d.col4); })
         .attr("fill", function(d){
            JSON.stringify(d);
            if (d.col3 == ' D')
            {
                return 'blue';
            }
            else if (d.col3 == ' F')
            {
                return 'black';
            }
            else
            {
                return 'red'
            }
         })
        .on("mouseover", mouseover)
        .on("mousemove", mousemove)
        .on("mouseleave", mouseleave)


    });
         //.attr("height", function(d) { return height - yScale(d.col4); });


    //});

</script>




    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>
